<!DOCTYPE html>
<html ng-app="mclovindata">
  <head>
    <style>
    </style>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>

    <script type="text/javascript" src="/public/js/angular-app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="fl4kController">
    <header><font size="+4"><b>Week View</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/week_region.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/week_item.png" height="400" align="left">
    </div>
    <header><font size="+4"><b>Totals</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/total_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/items_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/total_over_time_by_region.png" height="400" align="left">
    </div>
    <header><font size="+4"><b>By Item</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/hamburgers_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/cfs_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/ffs_over_time.png" height="400" align="left">
    </div>
    
  </body>

</html>
