<!DOCTYPE html>
<html ng-app="mclovindata">
  <head>
    <style>
    </style>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>

    <script type="text/javascript" src="/public/js/angular-app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="mclovindataController">
    <header><font size="+4"><b><a href="public/ceopdf/mcdonalds_data.pdf">Data as PDF</a></b></font></header>
    <header><font size="+4"><b>Week View</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/week_region.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>From this graph, showing sales for one week split by menu item, we can see several things:<br>- First, it is clear that hamburgers are sold most, followed by chicken filets and fish filets closely behind that.<br>- Second, we see that sales for hamburgers and chicken filets do not change much throughout the week, while sales of fish filets are more prone to change
      </body>
    </div>
    <div class="container-fluid">
      <img src="/public/img/week_item.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>
      From the above graph, showing sales for one week split by region, we see some interesting things:<br>- The Northeast region sells the most throughout the week, and sells the least on the weekends.<br>- The Northwest region has a somewhat consistent sales rate throughout the week.<br>- The Southeast region also has somewhat consistent sales throughout the week, with lower sales on weekends.<br>- The Southwest region has low sales throughout the week, but high sales on weekends (but not on Saturday).<br>- The Central region also has somewhat consistent sales, with high sales on fridays
      </body>
    </div>
    <header><font size="+4"><b>Totals</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/total_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>
      From the above graph, we can see that total sales has experienced a significant decrease (or at least stagnation) since the Impossible Burger was introduced by Burger King in October 2018 (shown by the red line).
      </body>
    </div>
    <div class="container-fluid">
      <img src="/public/img/items_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>
      From the above graph, we see that all regions have experienced a similar pattern of growth, with none of the regions being more or less impacted by the Impossible Burger’s introduction (shown by red line), and it also shows that the Northeast region generally sells the most, with the Northwest and Southwest regions in the middle, and the Southeast and Central regions selling the least.
      </body>
    </div>
    <div class="container-fluid">
      <img src="/public/img/total_over_time_by_region.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>
      From the above graph, we see once again that hamburgers are sold most, followed by chicken filets and then fish filets. What is perhaps more interesting is that not only did burger sales decrease from the introduction of the Impossible Burger in October 2018 (red line), but chicken filet and fish filet sales were equally impacted.
      </body>
    </div>
    <header><font size="+4"><b>By Item</b></font></header>
    <div class="container-fluid">
      <img src="/public/img/hamburgers_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/cfs_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <img src="/public/img/ffs_over_time.png" height="400" align="left">
    </div>
    <div class="container-fluid">
      <body>
      From these graphs, we can see more closely that hamburger sales, chicken filet sales, and fish filet sales were all equally impacted by the introduction of the Impossible Burger by Burger King in October 2018 (red line), and these graphs make it clear that they follow almost the exact same pattern of growth and shrinkage.
      </body>
    </div>
    <header><font size="+4"><b>Conclusions</b></font></header>
    <div class="container-fluid">
      <body>
        There is definitely a correlation between the introduction of the Impossible Burger by Burger King in October of 2018 and a drop in sales of McDonald's Burgers since October 2018. However, Not only have McDonald's Burgers' sales decreased significantly, the sale of both chicken filets and fish filets has decreased at an almost exactly equal rate. Therefore, it is very possible that the decrease in sales McDonald's has seen since 2018 is possibly due to some factor other than the introduction of Burger King's Impossible Burger. It does not make sense for McDonald's to use Burger King's Impossible Burger as a scapegoat for the decrease in sales, and we as a company should do further research on what happened in October 2018 that could have triggered such a decrease in sales. On the other hand, it is possible that those individuals who purchase chicken filets and fish filets before October 2018 stopped coming to McDonald’s after Burger King introduced the Impossible Burger because the Impossible Burger seems like a healthier alternative than chicken filets and fish filets. Perhaps a focus group on these individuals would help guide McDonald’s next steps.<br><br><br><br>
      </body>
    </div>
    
  </body>

</html>
